// FOOTER :: START
footer.footer
	.footer__row
		.footer__col
			h3.heading-l3 Кто мы?
			ul.footer-nav
				li.footer-nav__el
					a.footer-nav__link(href='#') О нас
				li.footer-nav__el
					a.footer-nav__link(href='#') Лица
				li.footer-nav__el
					a.footer-nav__link(href='#') Контакты
				li.footer-nav__el
					a.footer-nav__link(href='#') Пресса
				li.footer-nav__el
					a.footer-nav__link(href='#') Кофейни
		.footer__col
			h3.heading-l3 Помощь
			ul.footer-nav
				li.footer-nav__el
					a.footer-nav__link(href='#') Контакты
				li.footer-nav__el
					a.footer-nav__link(href='#') Реквизиты
				li.footer-nav__el
					a.footer-nav__link(href='#') Полезное
				li.footer-nav__el
					a.footer-nav__link(href='#') Персональные данные
		.footer__col
			h3.heading-l3 Сервис
			ul.footer-nav
				li.footer-nav__el
					a.footer-nav__link(href='#') Оплата
				li.footer-nav__el
					a.footer-nav__link(href='#') Доставка
				li.footer-nav__el
					a.footer-nav__link(href='#') Условия продажи
				li.footer-nav__el
					a.footer-nav__link(href='#') Карта сайта
		.footer__join
			.footer__join-inner
				h3.heading-l3 Присоединяйтесь
				ul.socials
					li.socials__el
						a.socials__link(href='#')
							+icon('ico-fb')
					li.socials__el
						a.socials__link(href='#')
							+icon('ico-vk')
					li.socials__el
						a.socials__link(href='#')
							+icon('ico-yt')
					li.socials__el
						a.socials__link(href='#')
							+icon('ico-insta')
				p.text.text--small.text--footer
					span Разработка — #[a.footer-link(href='http://webfly.pro' target='_blank') webfly.pro]
					span Дизайн — #[a.footer-link(href='http://redobureau.com' target='_blank') Redo Bureau]
				p.text.text--small.text--footer Интернет-магазин кофе Torrefacto © 2011-2017
// FOOTER :: END
