// HEADER :: START
header.header
	.row.header-row
		a.city(href='#') Ваш город: Москва
		ul.contacts
			li.contacts__el T -
				a(href='tel:8 (499) 653-71-17') 8 (499) 653-71-17
			li.contacts__el E - 
				a(href='mailto:info@torrefacto.ru') info@torrefacto.ru
		ul.account
			li.account__el
				a.account__link(href='#') Выход
			li.account__el
				a.account__link(href='#') Регистрация
			li.account__el
				a.account__link.account__cart(href='#')
					+icon('ico-cart')
					span товаров
					span.products-amount [2] - 
					span.products-price 0 &#8381;
					
nav.navigation
	ul.navigation-row
		li.navigation__el
			a.navigation__link(href='#') Кофе
		li.navigation__el
			a.navigation__link(href='#') Аксессуары
		li.navigation__el
			a.navigation__link(href='#') Отзывы
		li.navigation__el.navigation__logo
			a.logo
				i
					+icon('ico-logo')
		li.navigation__el
			a.navigation__link(href='#') Журнал
		li.navigation__el
			a.navigation__link(href='#') Помощь
		li.navigation__el
			a.navigation__link(href='#') О нас
			

		li.navigation-mobile__el
			button.mobile-toggle
				span
				span
				span
				span
		li.navigation-mobile__el.mobile-logo
			a(href='/')
				+icon('ico-logo-mobile')
		li.navigation-mobile__el.mobile-cart
			a(href='#')
				+icon('ico-cart')

.mobile-layout
	.mobile-layout__content
		ul.mobile-nav
			li.mobile-nav__el
				a.mobile-nav__link(href='#') Кофе
			li.mobile-nav__el
				a.mobile-nav__link(href='#') Аксессуары
			li.mobile-nav__el
				a.mobile-nav__link(href='#') Отзывы
			li.mobile-nav__el
				a.mobile-nav__link(href='#') Журнал
			li.mobile-nav__el
				a.mobile-nav__link(href='#') Помощь
			li.mobile-nav__el
				a.mobile-nav__link(href='#') О нас
		
		ul.mobile-info
			li.mobile-info__el
				p Ваш город:
				a.mobile-info__link(href='') Москва
			li.mobile-info__el
				p Телефон:
				a.mobile-info__link(href='tel:84996537117') 8 (499) 653-71-17
			li.mobile-info__el
				p E-mail:
				a.mobile-info__link(href='mailto:info@torrefacto.ru') info@torrefacto.ru
		
			
// HEADER :: END
