// grid options
$display: flex;
$columns: 12;
$gutter: 15px;

// grid breakpoints
$large: 1199px;
$medium: 991px;
$small: 767px;
$extra-small: 575px;

// colors
$mainColor: #2D2319;
$lightGray: #eaeaea;
$gray: #C7C6C4;
$discusGray: #f5f5f5;
$yellow: #FFBC01;
$green: #61BF79;

$mobileAvDiameter: 45px;

// social media colors
$fb: #3b5998;
$vk: #4c75a3;
$yt: #cd201f;
$in: #e4405f;

// other
$mobileNavHeight: 65px;
