.ico-angle {
  width: 0.81em;
  height: 1em;
  fill: #2D2319;
}
.ico-cart {
  width: 0.87em;
  height: 1em;
  fill: #FFF;
}
.ico-cezve {
  width: 1.44em;
  height: 1em;
  fill: #FFBC01;
}
.ico-cof-machine {
  width: 0.87em;
  height: 1em;
  fill: #2C231A;
}
.ico-fb {
  width: 0.53em;
  height: 1em;
  fill: #FFF;
}
.ico-fire {
  width: 0.81em;
  height: 1em;
  fill: #2C231A;
}
.ico-insta {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-logo-mobile {
  width: 2.12em;
  height: 1em;
  fill: none;
}
.ico-logo {
  width: 1.25em;
  height: 1em;
  fill: none;
}
.ico-moka {
  width: 0.7em;
  height: 1em;
  fill: #2C231A;
}
.ico-number {
  width: 1.67em;
  height: 1em;
  fill: none;
}
.ico-right-arrow {
  width: 1em;
  height: 1em;
  fill: #1E201D;
}
.ico-spades {
  width: 0.9em;
  height: 1em;
  fill: #2C231A;
}
.ico-star {
  width: 1.07em;
  height: 1em;
  fill: #FFBC01;
}
.ico-tea-pot {
  width: 0.8em;
  height: 1em;
  fill: #2C231A;
}
.ico-vk {
  width: 1.83em;
  height: 1em;
  fill: #FFF;
}
.ico-yt {
  width: 1.33em;
  height: 1em;
  fill: #FFF;
}
.ico-zoom {
  width: 1em;
  height: 1em;
  fill: none;
}
